body {
	background-color: #f7f9fc;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
	color: #344174 !important;
}

a {
	color: #3fb369;
}

.navbar {
	background-color: #f7f9fc;
	border-color: #EBEFF4;
}

.list-group .list-group-item {
	background-color: #d8f1f1;
	color: #344174;
}

.list-group-item {
	background-color: #d8f1f1;
	border-color: #EBEFF4;
}

.navbar-inverse .navbar-brand {
	color: #57799D;
}

.app-list-title {
	font-weight: bold;
	color: #344174 !important;
}

.list-group {
	grid-row-gap: 10px !important;
	grid-column-gap: 10px !important;
}

.list-group-item:hover {
	background-color: #00000022;
}